<div class="container">
  <div class="contents">
      <div class="article">
        
    　<h4><%= @beach.user.name %>さんのpost</h4> 
  
<div class="row">
   <div class="col-xs-12 col-sm-12 col-md-2"></div>
   <div class="img-show col-xs-12 col-sm-12 col-md-4"><%= image_tag(@beach.image_url)%></div>
   
   <div class="explanation-show col-xs-12 col-sm-12 col-md-4">
   <p><strong>Name: </strong><%= @beach.name%></p>
   <p><strong>Address: </strong><%= @beach.address%></p> 
   <p class="information"><%= @beach.information%></p> 
   <p>date: <%= simple_time(@beach.created_at) %></p>
 
 <% unless @beach.user == current_user %>
    <% if @like.present? %>
      <%= link_to("/likes/#{@beach.id}/destroy", {method: "post"}) do %>
      <span class="fa fa-heart fa-unlikebtn fa-2x"></span>
      <% end %>
    <% else %>
      <%= link_to("/likes/#{@beach.id}/create", {method: "post"}) do %>
      <span class="fa fa-heart-o fa-likebtn fa-2x"></span>
      <% end %>
    <% end %>
      <br>
      <!-- 変数@likes_count表示 -->
      <%= @likes_count %> likes
  
 <% end %>

    <% if @beach.user_id == current_user.id %>
      <div class="edit_delete_btn">   
      <%= link_to 'Edit', edit_beach_path(@beach.id) %> | 
      <%= link_to 'Delete', beach_path(@beach.id), method: :delete, data: { confirm: '本当に削除していいですか？'} %>
      </div>
    <% end %>
   
   </div>  
  
   <div class="col-xs-12 col-sm-12 col-md-2"></div>
</div>
    
<hr>

    <div id="map"></div>
    
    <script>
    function initMap() { 
    var mappoint = {lat: <%= @latitude %>, lng: <%= @longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: mappoint
    });
    
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);
    
    var contentString = '指定場所：<%= @address %>'; 
    var infowindow = new google.maps.InfoWindow({
        content: contentString
    });
    
    var marker = new google.maps.Marker({
      position: mappoint,
      map: map,
      title: contentString
    });
    
    }
  </script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<% ENV['GOOGLE_API_KEY'] %>&callback=initMap"  type="text/javascript"></script>

<style type="text/css">
  #map { height: 300px;
    margin-left:auto;
    margin-right:auto;
    width: 50%;}
</style>

</div>
    
     <div id="back_to_list">
     <%= link_to 'Back to List', beaches_path, class: 'btn btn-primary btn-sm' %>
     </div>
     
 </div>
</div>