<div class="container">
  <div class="contents">
      <div class="article">
         
    　<h4><%= @beach.user.name %>さんのpost</h4> 
  
<div class="row">
   <div class="col-xs-12 col-sm-12 col-md-2"></div><!--ダミーcol--!>
   <div class="img-show col-xs-12 col-sm-12 col-md-4"><%= image_tag(@beach.image_url)%></div>
   
   <div class="explanation-show col-xs-12 col-sm-12 col-md-4">
   <p><strong>Name: </strong><%= @beach.name%></p>
   <p><strong>Address: </strong><%= @beach.address%></p> 
   <p class="information"><%= @beach.information%></p> 
   <p>date: <%= simple_time(@beach.created_at) %></p>
 
 <% unless @beach.user == current_user %>
    <% if @like.present? %>
      <%= link_to("/likes/#{@beach.id}/destroy", {method: "post"}) do %>
      <span class="fa fa-heart fa-unlikebtn fa-2x"></span>
      <% end %>
    <% else %>
      <%= link_to("/likes/#{@beach.id}/create", {method: "post"}) do %>
      <span class="fa fa-heart-o fa-likebtn fa-2x"></span>
      <% end %>
    <% end %>
      <br>
      <!-- 変数@likes_countを表示 -->
      <%= @likes_count %> likes
  
 <% end %>

    <% if @beach.user_id == current_user.id %>
      <div class="edit_delete_btn">   
      <%= link_to 'Edit', edit_beach_path(@beach.id) %> | 
      <%= link_to 'Delete', beach_path(@beach.id), method: :delete, data: { confirm: '本当に削除していいですか？'} %>
      </div>
    <% end %>
   
   </div><!--explanation-show締め--!>   
  
   <div class="col-xs-12 col-sm-12 col-md-2"></div><!--ダミーcol--!>
</div><!--row締め--!>
    
<hr>

<div id="map"></div>

<script>
    function initMap() {

        var mappoint ={lat: <%= @latitude %>, lng: <%= @longitude %>};   <!--取得した緯度経度データを変数 mappointに代入--!>
        var map = new google.maps.Map(document.getElementById('map'), {  <!--APIが用意しているgoogle.maps.Mapクラスをインスタンス化して地図作成--!>
            zoom: 15, <!--ズームは0～18まで(1～21まで?)設定出来る。（数値大でより詳細に）--!>
            center: mappoint  <!--center で地図中心部を指定。先ほど定義した変数 mappointを活用--!>
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '指定場所：<%= @address %>'; <!--マウスオンした際の表示内容--!>
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({  <!--マーカーのインスタンスを作成--!>
            position:mappoint,
            map: map,                          <!--マーカーを落とすマップのインスタンスを指定--!>
            title: contentString 
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key = ENV['GOOGLE_API_KEY']&callback=initMap" type="text/javascript">
</script>

<p id="notice"><%= notice %></p>


<style type="text/css">
  #map { height: 300px;
    margin-left:auto;
    margin-right:auto;
    width: 300px;}
</style>


</div><!--article締め--!>
    
     <div id="back_to_list">
     <%= link_to 'Back to List', beaches_path, class: 'btn btn-primary btn-sm' %>
     </div>
     
 </div>
</div>
